<head>
  <meta charset="utf-8">
  <title>Interfas | <%= page.title %></title>

  <!-- Meta Tags -->
  <meta name="viewport" content="initial-scale=1.0 user-scalable=no width=device-width">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../assets/css/app.css">
</head>
