<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('layouts/header', {
      page: {
        title: 'Login'
      }
    }); %>
  <body>
    <!-- Content -->
    <div class="capsule login">
      <div class="login-form-container">
        <h5>لطفا برای ورود به حساب کاربری از فرم زیر استفاده نمایید.</h5>
        <input class="form-control form-control-lg" name="username" type="text" placeholder="نام‌کاربری">
        <input class="form-control form-control-lg" name="password" type="password" placeholder="گذرواژه">
        <button type="submit" id="login-btn" class="btn btn-primary btn-lg">ورود به حساب‌کاربری</button>
      </div>
    </div>

    <%- include('layouts/footer'); %>
  </body>
</html>
