<div class="container-fluid mt-3">
  <div class="form-container active" data-tab="primary-information">
    <div class="form-group">
      <label for="exampleFormControlInput1">نام محصول</label>
      <input type="text" class="form-control" id="product-name" placeholder="مثال: ژامبون مرغ دودی سولیکو">
    </div>

    <select class="custom-select" id="product-category">
      <option selected>انتخاب دسته‌بندی</option>
    </select>

    <input type="tags" class="form-control mt-3" value="کیلوگرم, جعبه" readonly />

    <div class="form-check mt-3">
      <input class="form-check-input" type="checkbox" id="verified-checkbox" checked>
      <label class="form-check-label" for="verified-checkbox">
        تایید‌شده
      </label>
    </div>
  </div>
</div>
