<div class="container-fluid mt-3">
  <div class="form-container tab-container" data-tab="primary-information">
    <div class="form-group">
      <input type="text" class="form-control" id="product-name" placeholder="نام محصول">
    </div>

    <select class="custom-select" id="product-category">
      <option selected>انتخاب دسته‌بندی</option>
    </select>

    <div class="product-units-container">
      <input type="tags" id="product-units" class="form-control mt-3" placeholder="واحدهای انتخاب‌شده" preventReturnKey/>
      <div class="list-group depended-popover product-unit-items mt-3 hide"></div>
    </div>

    <div class="product-tags-container">
      <input type="tags" id="product-tags" class="form-control mt-3" placeholder="عناوین دیگر، عناوین چند زبانه و تگ‌ها"/>
    </div>

    <div class="form-check mt-3 mb-3">
      <input class="form-check-input" type="checkbox" id="verified-checkbox" checked>
      <label class="form-check-label" for="verified-checkbox">
        تایید‌شده
      </label>
    </div>

    <button type="button" class="btn btn-primary handler-btn" data-target="features-information">اضافه‌کردن ویژگی‌ها</button>
  </div>

  <div class="form-container tab-container" data-tab="features-information">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb product-features-controller"></ol>
    </nav>

    <div id="features-container">
      <div class="alert alert-warning empty-warning" role="alert">
        هنوز هیچ ویژگی ایجاد نکرده‌اید.
      </div>
    </div>

    <button type="button" class="btn btn-primary handler-btn hide" data-target="photos-information">اضافه‌کردن عکس‌ها</button>
  </div>

  <div class="form-container tab-container active" data-tab="photos-information">
    <!--input type="file" data-role="dropzone" id="product-photos-dropzone" /-->
    <div class="dropzone">
      <div class="label-container hide">
        <i class="material-icons">photo</i>
        <label for="product-photos-dropzone">
          <strong>تصاویر را انتخاب کنید</strong>
        </label>
         یا اینجا رها کنید.
       </div>
     <input type="file" name="files" multiple="multiple" id="product-photos-dropzone">

     <div class="dropped-files">
       <div class="dropped-file-item">
         <img src="/assets/img/ui/eucle.png"/>
         <div class="dropped-file-conntroller">
           <button type="button" class="btn btn-secondary">
             <i class="material-icons">bookmark</i>
           </button>
           <button type="button" class="btn btn-danger">
             <i class="material-icons">delete</i>
           </button>
         </div>
       </div>
       <div class="dropped-file-item">
         <img src="/assets/img/ui/eucle.png"/>
         <div class="dropped-file-conntroller">
           <button type="button" class="btn btn-secondary">
             <i class="material-icons">bookmark</i>
           </button>
           <button type="button" class="btn btn-danger">
             <i class="material-icons">delete</i>
           </button>
         </div>
       </div>
       <div class="dropped-file-item">
         <img src="/assets/img/ui/eucle.png"/>
         <div class="dropped-file-conntroller">
           <button type="button" class="btn btn-secondary">
             <i class="material-icons">bookmark</i>
           </button>
           <button type="button" class="btn btn-danger">
             <i class="material-icons">delete</i>
           </button>
         </div>
       </div>
       <div class="dropped-file-item">
         <img src="/assets/img/ui/eucle.png"/>
         <div class="dropped-file-conntroller">
           <button type="button" class="btn btn-secondary">
             <i class="material-icons">bookmark</i>
           </button>
           <button type="button" class="btn btn-danger">
             <i class="material-icons">delete</i>
           </button>
         </div>
       </div>
       <div class="dropped-file-item">
         <img src="/assets/img/ui/eucle.png"/>
         <div class="dropped-file-conntroller">
           <button type="button" class="btn btn-secondary">
             <i class="material-icons">bookmark</i>
           </button>
           <button type="button" class="btn btn-danger">
             <i class="material-icons">delete</i>
           </button>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
