<div class="container-fluid mt-3">
  <div class="form-container tab-container active" data-tab="primary-information">
    <select class="custom-select" id="product-category">
      <option selected>انتخاب دسته‌بندی</option>
    </select>

    <div class="form-group mt-3 mb-0">
      <input type="text" class="form-control" id="product-name" placeholder="نام محصول">
    </div>

    <div class="product-units-container">
      <input type="tags" id="product-units" class="form-control mt-3" placeholder="واحدهای انتخاب‌شده" preventReturnKey/>
      <div class="list-group depended-popover product-unit-items mt-3 hide"></div>
    </div>

    <div class="product-tags-container">
      <input type="tags" id="product-tags" class="form-control mt-3" placeholder="عناوین دیگر، عناوین چند زبانه و تگ‌ها"/>
    </div>

    <div class="form-check mt-3 mb-3">
      <input class="form-check-input" type="checkbox" id="verified-checkbox" checked>
      <label class="form-check-label" for="verified-checkbox">
        تایید‌شده
      </label>
    </div>

    <button type="button" class="btn btn-primary handler-btn" data-target="description-information">اضافه‌کردن توضیحات</button>
  </div>

  <div class="form-container tab-container" data-tab="description-information">
    <div id="reach-text-editor" class="editor mb-3"></div>
    <button type="button" class="btn btn-primary handler-btn" data-target="features-information">اضافه‌کردن ویژگی‌ها</button>
  </div>

  <div class="form-container tab-container" data-tab="features-information">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb product-features-controller"></ol>
    </nav>

    <div id="features-container">
      <div class="alert alert-warning empty-warning" role="alert">
        هنوز هیچ ویژگی ایجاد نکرده‌اید.
      </div>
    </div>

    <button type="button" class="btn btn-primary handler-btn hide" data-target="photos-information">اضافه‌کردن عکس‌ها</button>
  </div>

  <div class="form-container tab-container" data-tab="photos-information">
    <input type="file" data-role="dropzone" id="product-photos-dropzone" class="product-photos-dropzone mb-3" />

    <button type="button" class="btn btn-primary handler-btn" data-target="submit-information">ثبت محصول</button>
  </div>
</div>
